<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>

    <div class="main">

      <section class="sign-in">
          <div class="container">
              <div class="signin-content">
                  <div class="signin-image">
                      <figure><img src='https://i.postimg.cc/mkqVmbT9/img3.png' border='0' alt='img3'/></figure>

                      <a href="/register" class="signup-image-link">Create an account</a>
                  </div>

                  <div class="signin-form">
                      <h2 class="form-title">Log in</h2>
                      <form action="/login" method="POST" class="register-form" id="login-form">
                          <div class="form-group">
                              <label for="email"><i class="ri-mail-fill"></i></label>
                              <input type="email" name="email" id="email" placeholder="Email" required/>
                          </div>
                          <div class="form-group">
                              <label for="password"><i class="ri-lock-2-fill"></i></label>
                              <input type="password" name="password" id="password" placeholder="Password" required/>
                          </div>

                          
                          <div class="form-group form-button">
                              <input type="submit" name="login" id="signin" class="form-submit" value="Log in"/>
                          </div>
                      </form>

                  </div>
              </div>
          </div>
      </section>
      </div>

      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="js/main.js"></script>
      </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
      </html>
